/* Global CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --primary10: #0d0e0b;
  --primary20: #2b2b2b;
  --primary30: #696969;
  --primary40: #848484;
  --primary50: #a0a0a0;
  --primary60: #b7b8b6;
  --primary70: #c9cac8;
  --primary80: #eeeeee;
  --primary90: #fcfcfc;
  --primary100: #ffffff;
  --accentLight: #e8bf4a;
  --accentDark: #c48e22;
  --sun: #fdd016;
  --logoAccent: #a9dbc9;
  --logoAccentDark: #0d1210;
  --navText: #a5a5a5;
  --subtitleText: #333333;
  --icon: #b9b9b9;
  --titleBrown: #6c411e;
  --footerBackground: #f9f9f9;
  --heroBackground: #ced0d7;
  --maxWidth: 900px;
}

html,
body {
  height: 100%;
  background-color: rgba(241, 238, 232, 0.2);
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* nav styles */
.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  width: 800px;
  background: none;
}
.nav-links a {
  padding: 15px 20px;
  color: var(--navText);
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  transition: color 300ms;
}
.nav-links a:hover,
.nav-links a:focus {
  color: var(--accentDark);
}
