---
// javascript written up here will be on the server side
import MainLayout from "../layouts/MainLayout.astro";
import Headshot from "../images/P1002198.jpg";
import Profile from "../components/Profile.astro";
import Greeting from '../components/Greeting.jsx';
---

<MainLayout title="Home">
	<main class="flex flex-col justify-around py-12">
		<div class="flex justify-around">
			<Profile
				imageMetaData={Headshot}
				alt="Picture of Brett Austin Eastman"
				name="Brett Austin Eastman"
			/>
		</div>
	</main>
</MainLayout>

<script>
  // javascript written down here will be on the client side
</script>

<style lang="sass"></style>
