---
// Server Side
import MainLayout from "../layouts/MainLayout.astro";
import Headshot from "../images/BrettProfile.jpg";
import Profile from "../components/Profile.astro";

const pageTitle = "Home";
const description =
  "Brett Austin Eastman is a musician and composer from San Francisco.";
---

<MainLayout title={pageTitle} description={description}>
	<main class="flex flex-col justify-around p-4">
		<div class="flex justify-around">
			<Profile
				imageMetaData={Headshot}
				alt="Picture of Brett Austin Eastman"
			/>
		</div>
	</main>
</MainLayout>
