---
// javascript written up here will be on the server side
import Button from "../components/Button";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home">
	<p id="paragraph" class="text-5xl bg-blue-500 text-white">Home</p>
	<Button client:load />
</MainLayout>

<script>
  // javascript written down here will be on the client side
  const para = document.querySelector('#paragraph');
	para.textContent = "Home JS";
</script>