---
// Server Side
import MainLayout from "../layouts/MainLayout.astro";
import YouTubeEmbed from "../components/YouTubeEmbed";
import YouTubeEmbedLazy from "../components/YouTubeEmbedLazy.astro";
const aClass = "hover:border-b hover:text-gray-400 duration-300";
---

<MainLayout title="Sound Design">
  <h3 class="flex justify-around uppercase mt-4 mb-4 pb-8 text-3xl md:text-4xl">
    Sound Design
  </h3>
  <div class="flex flex-col max-w-5xl m-auto text-lg md:text-xl">
    <div class="leading-relaxed">
      <YouTubeEmbedLazy
        videoId="0sHtHnsIk2w"
        title="The Murder of Hi Good (trailer)"

      />
      <!-- <YouTubeEmbed
        width="100%"
        height="100%"
        src={"https://www.youtube.com/embed/0sHtHnsIk2w"}
        title={"YouTube video player"}
      /> -->
      <p class="mb-8 mt-5">
        The Murder of Hi Good is a true-crime revisionist western shot on 35mm,
        Super 16mm, Super 8mm and digital video. Set in Northern California in
        1870, the film details the eventual murder of California’s most
        notorious Indian hunter, Hiram Good. Created over a seven year period by
        filmmaker Lee Lynch and co-written by art critic Doug Harvey, the film
        features a diverse set of performers including Los Angeles based
        artists, western re-enactors, and regional American Indians.
      </p>
      <div class="mb-8">
        <a
          class={aClass}
          href="https://www.amazon.com/Murder-Hi-Good-David-Nordstrom/dp/B08W8W7BRF"
          target="_blank"><em>Watch</em></a
        > on Amazon
      </div>
      <div class="mb-8">
        <a
          class={aClass}
          href="https://www.imdb.com/title/tt2182390/"
          target="_blank"><em>The Murder of Hi Good</em></a
        > on IMDB.
      </div>
    </div>
  </div>
</MainLayout>
