---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
---

<header>
  <div class="name-header">
    <Hamburger />
    <!-- <div style={{ height: "100px" }}>
      <div>Image here?</div>
    </div> -->
  </div>
  <nav>
    <Navigation />
  </nav>
</header>
