---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
---

<header>
  <h1
    class="flex justify-around uppercase p-8 mb-12 tracking-wider text-4xl font-medium text-center text-primary10 dark:text-primary70 md:text-5xl lg:text-7xl"
  >
    <a href='/' aria-label="Go to Home Page">Brett Austin Eastman</a>
  </h1>
  <div class="name-header">
    <Hamburger />
    <!-- <div style={{ height: "100px" }}>
      <div>Image here?</div>
    </div> -->
  </div>
  <nav class="flex justify-around">
    <Navigation />
  </nav>
</header>
