---
import "../styles/global.css";
---

<div>
  <div class="nav-links flex justify-left">
    <a href="/about" aria-label="Go to About page">About</a>
    <a href="/selected_works" aria-label="Go to Selected Works page">Selected Works</a>
    <a href="/production" aria-label="Go to Production page">Production</a>
    <a href="/sound_design" aria-label="Go to Sound Design page">Sound Design</a>
  </div>
</div>
