---
---

<div>
  <div class="nav-links">
    <a href="/" aria-label="Go to Home page">Home</a>
    <a href="/about" aria-label="Go to About page">About</a>
    <a href="/selected_works" aria-label="Go to Selected Works page">Events</a>
    <a href="/production" aria-label="Go to Production page">Media</a>
    <a href="/sound_design" aria-label="Go to Sound Design page">Contact</a>
  </div>
</div>
