---
// javascript written up here will be on the server side
import "../styles/global.css";
import NameHeader from "../components/NameHeader.astro";
import NavBar from "../components/NavBar.jsx";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Brett Austin Eastman is a software engineer, musician, audio engineer, and composer"
    />
    <title>{title}</title>
  </head>
  <body>
    <div class="min-h-screen flex flex-col">
      <div
        class="border-b-2 border-primary-light-shade-500 dark:border-primary-dark-900 bg-gray-light-300 dark:bg-gray-dark-900 pt-[10px] sm:pt-[58px] z-50"
      >
        <NameHeader />
        <NavBar client:load/>
      </div>
        <main class="grow p-4">
          <slot />
        </main>
        <Footer />
    </div>
  </body>
</html>
