---
// Server Side
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="Brett Austin Eastman is a software engineer, musician, audio engineer, and composer"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/BAEicon64.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="min-h-screen flex flex-col">
      <div
        class="bg-primary90 dark:bg-primary30 border-b-2 border-primary10 pb-8 dark:border-primary10 shadow-2xl dark:shadow-xl dark:shadow-primary50 pt-[10px] sm:pt-[58px] z-50"
      >
        <Header />
      </div>
      <main class="grow p-8 bg-primary100 text-primary10 dark:bg-primary20 dark:text-primary60">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
