---
// javascript written up here will be on the server side
import '../styles/global.css';
import NameHeader from '../components/NameHeader.astro';
import NavBar from '../components/NavBar.jsx';
import Footer from '../components/Footer.astro';
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Brett Austin Eastman is a software engineer, musician, audio engineer, and composer" />
		<title>{title}</title>
	</head>
	<body>
    <div
				style={{ 'grid-area': 'header' }}
				class="border-b-2 border-primary-light-shade-500 dark:border-primary-dark-900 bg-gray-light-300 dark:bg-gray-dark-900 pt-[10px] sm:pt-[58px] z-50"
		>
		<NameHeader class="ml-10 uppercase hover:border-b text-xl"/>
		<NavBar />
		</div>
		<main
				class="py-[48px] sm:py-[58px] md:py-[86px]"
				style={{ 'grid-area': 'main' }}
		>
		<slot />
		</main>
		<Footer />
  </body>
</html>
